@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");

:root {
  --cor-principal: #516ae4;
  --cor-secundaria: #322c86;
  --cor-destaque: #c92bfc;
}

body {
    background-color: rgb(166, 183, 201);
  font-family: "Chakra Petch", sans-serif; }
h1 {
  color: var(--cor-principal);
  font-weight: 700; }

h2,
h5 {
  color: var(--cor-secundaria);
  font-weight: 700;
}
